body {
  font-family: 'DEC Terminal Modern', sans-serif;                                              
  margin: 0 0;
  background-color: #2b2b3a;
}


.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.imgquiz{
  max-width: 50px;
  width: 100%;
  padding-top: 20px;
}  
.h-kviz{
  color: #eafc40;
  letter-spacing: 4px;
}
.nick-name{
  letter-spacing: 3px;
  color: #f4f5f6;
}
.inputnick{
  font-family: inherit;
  max-width: 450px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #eafc40;
  font-size: 1.3rem;
  margin: 7px 0;
  background: none;
  border-radius: 25px;
  text-align: center;
  color: #f4f5f6;
  letter-spacing: 2px;
}

.inputnick:focus{
  outline: none;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #2b2b3a;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #eafc40;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}




.wraper{
  height: 100vh;
  background-color: #2b2b3a;

}
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}
   
.start-page,
.result-page,
.score-table {
  text-align: center;
}

ul{
  list-style-type: none;
}
  
.quiz-page {
  text-align: center;
}
  
button {
  margin-top: 10px;
}
  
h1 {
  font-size: 48px;
  color: #726f6f;
  opacity: 0;
}

.question{
  letter-spacing: 2px;
  color: #f4f5f6;
}
.uloptions{
  letter-spacing: 3px;
  color: #eafc40;
  display: flex;
  flex-direction: column;
  justify-content: left;  
}






.button-options {
  display: flex;
  flex-direction: column;
  
}

.button-options button {
  letter-spacing: 2px;
  margin: 0px auto;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 2px solid #eafc40;
  border-radius: 25px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: 'DEC Terminal Modern', sans-serif;
  font-weight: bold;
}

.button-options button:hover {
  background-color: #eafc40;
  color: #2b2b3a; 
}


.start-page{
  max-width: 800px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.score-table{
  max-width: 450px;
  width: 100%;
  margin-top: -100px;
}
.score-table thead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 150px;

}

.score-table table{
  color: #f4f5f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.score-table h3{
  background-color: #eafc40;
  color: #2b2b3a;
  letter-spacing: 3px;
  border-radius: 20px;

}

.score-table th{
  color: #eafc40;
  letter-spacing: 3px;
}
.trtr{
  padding-left: 120px;
}
.score-table a{
  text-decoration: none;
}
.button-reset{
  margin-top: 25px;
}

